/* customStyles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}

#modal-root > div > div > div > div > div > div {
    /* Your custom styles here */
    width: 313px;
  }
  #modal-root > div > div > div > div > div > div > label {
    display: none;
}

input[type="checkbox"][aria-checked="true"] + div {
  /* Your custom styles here */
  background-color: #0891b3;
  border-color:#0891b3;
  color: white;
}

div[role="group"] {
  row-gap: 0.5rem;
  margin: 0.5rem;
}

